{% extends 'base.html' %}

{% block title %} Nti {% endblock %}

{% block container %}
<div class="container-fluid">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'add_equipamento' %}">Inserir novo equipamento</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-12">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Pesquisa">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Tombo</th>
                            <th scope="col">Observação</th>
                            <th scope="col">Setor</th>
                            <th scope="col">Tag</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for eq in eqs %}
                        <tr>
                            <th scope="row">{{ eq.id }}</th>
                            <td>{{ eq.descricao }}</td>
                            <td>{{ eq.fabricante }}</td>
                            <td>{{ eq.modelo }}</td>
                            <td>{{ eq.tombo }}</td>
                            <td>{{ eq.observacao }}</td>
                            <td>{{ eq.setor }}</td>
                            <td>
                                {% for tag in eq.tag.all %}
                                <span class="badge badge-primary">{{ tag }}</span>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>






{% endblock %}