{% extends 'base.html' %}

{% block title %} Nti {% endblock %}

{% block container %}
<div class="container-fluid">


    {% for pesquisa in pesquisa %}
    <p>{{ pesquisa.id }}</p>

    {% endfor %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                Total de Equipamentos: {{ total_equipamentos }}
            </li>
            <li class="breadcrumb-item">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm" href="{% url 'add_equipamento' %}"><i class="fas fa-plus"></i></a>
                    <a class="btn btn-danger btn-sm" href="{% url 'add_equipamento' %}"><i
                            class="fas fa-file-pdf"></i></a>
                    <a class="btn btn-success btn-sm" href="{% url 'add_equipamento' %}"><i
                            class="fas fa-file-excel"></i></a>
                </div>
            </li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-12">
            <form method="get" action="{% url 'search' %}">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="search" value="{{ request.GET.termo }}" id="search-input"
                            placeholder="Digite sua pesquisa" name="search">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Tombo</th>
                            <th scope="col">Observação</th>
                            <th scope="col">Tag</th>
                            <th scope="col" class="text-success">
                                <center>Setor <i class="fas fa-search"></i></center>
                            </th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for eq in equipamentos %}
                        <tr>
                            <td>{{ eq.descricao }}</td>
                            <td>{{ eq.fabricante }}</td>
                            <td>{{ eq.modelo }}</td>
                            <td>{{ eq.tombo }}</td>
                            <td>{{ eq.observacao | linebreaks }}</td>
                            <td>
                                {% for tag in eq.tag.all %}
                                <span class="badge badge-primary">{{ tag }}</span>
                                {% endfor %}
                            </td>
                            <td class="bg-secondary">
                                <center><a class="btn btn-success btn-sm"
                                        href="{% url 'search_equipamento' eq.setor.id %}">
                                        {{eq.setor }}</a></center>
                            </td>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-danger btn-sm"><i
                                                class="fas fa-exchange-alt"></i></button>
                                        <button type="button" class="btn btn-success btn-sm"><i
                                                class="fas fa-history"></i></button>
                                    </div>
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>







{% endblock %}