{% extends 'base.html' %}

{% block title %} Nti {% endblock %}

{% block container %}
<div class="container-fluid">
    <div class="row">
        <div class="col"><p class="h4">Total de Equipamentos: {{ total_equipamentos }}</p></div>
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active btn btn-primary" href="{% url 'add_equipamento' %}"><i
                    class="fas fa-plus"></i></a>
        </li> |
        <li class="nav-item">
            <a class="nav-link active btn btn-danger" href=""><i
                    class="fas fa-file-pdf"></i></a>
        </li> |
        <li class="nav-item">
            <a class="nav-link active btn btn-success" href=""><i
                    class="fas fa-file-excel"></i></a>
        </li>
    </ul>
    <hr>
    <div class="row">
        <div class="col-12">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Pesquisa">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Descrição</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Tombo</th>
                            <th scope="col">Observação</th>
                            <th scope="col">Tag</th>
                            <th scope="col" class="text-success">
                                <center>Setor <i class="fas fa-search"></i></center>
                            </th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for eq in equipamentos %}
                        <tr>
                            <td>{{ eq.descricao }}</td>
                            <td>{{ eq.fabricante }}</td>
                            <td>{{ eq.modelo }}</td>
                            <td>{{ eq.tombo }}</td>
                            <td>{{ eq.observacao | linebreaks }}</td>
                            <td>
                                {% for tag in eq.tag.all %}
                                <span class="badge badge-primary">{{ tag }}</span>
                                {% endfor %}
                            </td>
                            <td class="border border-success">
                                <center><a class="btn btn-success" href="{% url 'search_equipamento' eq.setor.id %}">
                                        {{eq.setor }}</a></center>
                            </td>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                      <button type="button" class="btn btn-secondary"><i class="fas fa-exchange-alt"></i></button>
                                      <button type="button" class="btn btn-secondary"><i class="fas fa-history"></i></button>
                                    </div>
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>







{% endblock %}