{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <title>SisPms</title>
</head>
<body class="bg-light" style="margin-top:100px">

<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #3262a8;">
    <a class="navbar-brand" href="javascript:void(0)"><img src="{% static "img/logo-prefeitura-salvador.png" %}"
        alt="My image"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <nav class="navbar navbar-dark bg-darkt">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle" src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200"
                         width="42" height="42">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'perfil' %}">Meu Perfil</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                    {% else %}
                    <a href="{% url 'login' %}" class="nav-link btn btn-dark">Acessar</a>
                    {% endif %}
                </div>
            </li>
        </nav>
    </ul>
</nav>
<div class="container">
    <center>
        <h1>Sistema Prefeitura Municipal de Salvador</h1>
        <p>
            O Software SisPms foi desenvolvido com o intuito de facilitar os processos administrativos existentes na
            Prefeitura Municipal de Salvador.
        </p>
    </center>



</div>
<div class="card">
        <center><img class="rounded-circle" width="400" height="400" src="{% static "img/prefeitura-de-salvador.png" %}"alt="My image"></a></center>
    </div>
{% block footer %}
{% include 'footer.html' %}
{% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>