{% extends 'base_setor.html' %}

{% block title %} Setor {% endblock %}

{% block container %}
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

    <section class="row">
        <div class="col">
             <div class="card">
              <div class="card-header">
                Novo Colaborado
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark"><i class="fas fa-user-plus"></i></a>
              </div>
              </div>
        </div>

        <div class="col">
             <div class="card">
              <div class="card-header">
                Localizar
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark"><i class="fas fa-street-view"></i></a>
              </div>
              </div>
        </div>

          <div class="col">
             <div class="card">
              <div class="card-header">
                Relatórios
              </div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text"></p>
                <a href="#" class="btn btn-dark"><i class="fas fa-print"></i></a>
              </div>
              </div>
        </div>


    </section>
{% endblock %}