{% extends 'base.html' %}

{% block title %} Administracao {% endblock %}

{% block container %}
 <h1>Tem certeza que deseja deletar {{ usu.Nome }} </h1>
    <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Delete</button>
        </form>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
{% endblock %}