{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}

<div class="row">
    <div class="col">
          <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend" id="button-addon3">
                     <a href="{% url 'add_nota' %}" class="btn btn-outline-secondary">Add Nota</a>
                    <button type="submit" class="btn btn-outline-secondary">Pesquisar</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons"
                       aria-describedby="button-addon3" id="pesquisa" name="pesquisa">
            </div>
        </form>
    </div>
</div>

<div class="row">

    <div class="col-12">
        {% for nota in nota %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ nota.Titulo }}</h4>
                <p class="card-text">{{ nota.Descricao }}</p>
                <a href="{% url 'update_nota' nota.id %}" class="btn btn-primary btn-sm">Editar</a>
                <a href="{% url 'delete_nota' nota.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </div>
        </div>
        {% empty %}
        <div class="alert alert-info" role="alert">
           Não há notas a serem exibidos
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}