{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock %}

{% block container %}

<div class="card-columns">
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Total de Usuário do Grupo</h5>
            <p class="card-text">{{ a }}</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Total de Remanejamentos</h5>
            <p class="card-text">{{ b }}</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Total de Demandas</h5>
            <p class="card-text">25</p>
        </div>
    </div>
</div>
{% endblock %}