{% extends 'base.html' %}

{% block title %}
Perfil
{% endblock %}

{% block container %}

<div class="card-columns">
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Usuários do Setor</h5>
            <p class="card-text">10</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Demandas</h5>
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Informações</h5>
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Informações</h5>
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Informações</h5>
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
    <div class="card bg-whith">
        <div class="card-body">
            <h5 class="card-title">Informações</h5>
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
</div>
{% endblock %}