{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}
<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}






</style>
{% for colaborador in colaborador %}
<hr>
<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="cont();">Imprimir</button>
    </div>
    <div class="col"><a href="{% url 'observacao_colaborador' colaborador.id %}"
                        class="btn btn-warning btn-lg btn-block">Editar</a></div>
</div>
<hr>
<div id="print" class="conteudo">
    <page size="A4">
        <table class="table" width="100%" border="1">
            <thead>
            <tr style="background-color: #3262a8;">
                <th scope="col">
                    <h1>
                        <center><img src="{% static "img/logo-prefeitura-salvador.png" %}" alt="My image"></a></center>
                    </h1>
                </th>
            <tr style="background-color: #3262a8;">
                <th scope="col">
                    <h1  class="text-white">
                        <center>Carta de Encaminhamento</center>
                    </h1>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr height="300px">
                <th scope="row">
                    <p class="lead">
                       {{ colaborador.Observacao }}
                    </p>
                </th>
            </tr>
            <th scope="row">
                 <p class="lead">
                Dados:<br>
                Nome :{{ colaborador.Nome }} | Cpf: {{ colaborador.Cpf }} | Telefone: {{ colaborador.Telefone }}
                 </p>
            </th>
            </tr>
            <tr height="200px">
                <th scope="row">
                     <p class="lead">
                    Setor:<br>
                    {{ colaborador.SetorColaborador }}
                     </p>
                </th>
            </tr>
            <tr>
                <th scope="row">Fim:</th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </page>
</div>
<br><br>
<script>
function cont(){
   var conteudo = document.getElementById('print').innerHTML;
   tela_impressao = window.open('about:blank');
   tela_impressao.document.write(conteudo);
   tela_impressao.window.print();
   tela_impressao.window.close();
}



</script>
{% endblock %}