{% extends 'base.html' %}
{% load static %}
{% block title %} Carta de Encaminhamento {% endblock %}

{% block container %}
<style>
body {
  background: rgb(204,204,204);
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}



</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">
                {% for colaborador in colaborador %}
                <button type="button" class="list-group-item list-group-item-action active">
                    Opções
                </button>
                <button type="button" class="list-group-item list-group-item-action"><a
                        href="{% url 'observacao_colaborador' colaborador.id %}">Editar Carta</a></button>
                <button type="button" class="list-group-item list-group-item-action"><a href="#"
                                                                                        onclick="cont()">Imprimir</a>
                </button>
            </div>
        </div>
        <div class="col-sm-8">

            <div id="print" class="conteudo">
                <page size="A4">

                    <table class="table" width="100%">
                        <tr>
                            <td><img height="100px" width="130px" src="{% static "img/prefeitura-de-salvador.png" %}"
                                alt="My image">
                            </td>
                            <td height="200">
                                <p class="lead">
                                <h3>Carta de Encaminhamento</h3>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="lead">
                                    {{ colaborador.Observacao }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td height="200px">Nome: {{ colaborador.Nome }}</td>
                            <td>Cpf: {{ colaborador.Cpf }}</td>
                        </tr>
                        <tr>
                            <td>Setor: {{ colaborador.SetorColaborador }}</td>
                        </tr>
                        <tr>
                            <td height="300px" colspan="2" align="center">
                                __________________________________________________________________________
                                <br>
                                Gerente Regional
                            </td>
                        </tr>
                    </table>
                    {% endfor %}
                </page>
            </div>
        </div>
        <div class="col-sm-2">
            <!--
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small>3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                        varius blandit.</p>
                    <small>Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                        varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                        varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
            -->
        </div>
    </div>
</div>
<script>
function cont(){
   var conteudo = document.getElementById('print').innerHTML;
   tela_impressao = window.open('about:blank');
   tela_impressao.document.write(conteudo);
   tela_impressao.window.print();
   tela_impressao.window.close();
}














</script>
{% endblock %}