{% extends 'base.html' %}

{% block title %} Colaborador {% endblock %}

{% block container %}
<div class="container-fluid">



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            </li>
            <li class="breadcrumb-item">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm" href="{% url 'new_colaborador' %}"><i class="fas fa-plus"></i></a>
                    <a class="btn btn-danger btn-sm" href="{% url 'relatorio_equipamentos' %}"><i
                            class="fas fa-file-pdf"></i></a>
                    <a class="btn btn-success btn-sm" href="{% url 'rel_geral_colaborador' %}"><i
                            class="fas fa-file-excel"></i></a>
                    <a class="btn btn-success btn-sm" href="{% url 'table_simples' %}"><i
                            class="fas fa-table"></i></a>
                </div>
            </li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-12">
            <form method="get" action="{% url 'search_colaborador' %}">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="search" value="{{ request.GET.search }}" id="search-input"
                            placeholder="Digite sua pesquisa" name="search">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Cpf</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">tags</th>
                            <th scope="col" class="text-success">
                                <center><a href="{% url 'setor_colaborador' %}" class="btn btn-success">Setor <i
                                            class="fas fa-search"></i></a> </center>
                            </th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for colaborador in colaboradores %}
                        <tr>
                            <td>{{ colaborador.Nome }}</td>
                            <td>{{ colaborador.Cpf }}</td>
                            <td>{{ colaborador.Telefone }}</td>
                            <td>
                                {% for tag in colaborador.tags.all %}
                                <span class="badge badge-dark">{{ tag }}</span>
                                {% endfor %}
                            </td>
                            <td class="bg-secondary">
                                <center><a class="btn btn-success btn-sm"
                                        href="{% url 'colaborador_setor' colaborador.SetorColaborador.id %}">
                                        {{colaborador.SetorColaborador }}</a></center>
                            </td>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                                        <a href="{% url 'edit_colaborador' colaborador.id %}" class="btn btn-success"><i
                                                class="fas fa-user-edit"></i></a>
                                        <a href="" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>
                                        <a href="{% url 'remanejar' colaborador.id %}" class="btn btn-danger"><i
                                                class="fas fa-exchange-alt"></i></a>
                                        <a href="{% url 'carta_encaminhamento' colaborador.id %}"
                                            class="btn btn-warning"><i class="fas fa-sticky-note"></i></a>
                                        <a href="" class="btn btn-warning"><i class="fas fa-history"></i></a>
                                    </div>
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>







{% endblock %}