{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}
<h1>{{ a }}</h1>
<div class="card">
    <div class="card-header">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ desc_tag }}: {{ qtd_por_tags }}</h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Setor
                <th scope="col">Observações</th>
            </tr>
            </thead>
            <tbody>
            {% for colaborador in colaborador %}
            <tr>
                <td>{{ colaborador.Nome }}</td>
                <td>{{ colaborador.Cpf }}</td>
                <td>{{ colaborador.Telefone }}</td>
                <td>{{ colaborador.SetorColaborador }}
                <td>{{ colaborador.ObservacaoExpecificas }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}