{% extends 'base.html' %}

{% block title %} Nti {% endblock %}

{% block container %}
<div class="container-fluid">



    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          
            <li class="breadcrumb-item">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-primary btn-sm" href=""><i class="fas fa-plus"></i></a>
                    <a class="btn btn-danger btn-sm" href=""><i class="fas fa-file-pdf"></i></a>
                    <a class="btn btn-success btn-sm" href="{% url 'add_equipamento' %}"><i
                            class="fas fa-file-excel"></i></a>
                </div>
            </li>
        </ol>
    </nav>


    <div class="row">
        <div class="col-12">
            <form method="get" action="{% url 'search_colaborador' %}">
                <div class="form-group row">
                    <div class="col-12">
                        <input class="form-control" type="search" value="{{ request.GET.search }}" id="search-input"
                            placeholder="Digite sua pesquisa" name="search">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for list_empresa in list_empresas %}
                        <tr>
                            <th scope="row">{{ list_empresa.Nome }}</th>
                            <td>
                                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                    <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                                        <a href="{% url 'list_empresa_id' list_empresa.id %}" class="btn btn-success"><i class="fas fa-user-edit"></i>Filtrar por Empresa</a>
                                    </div>
                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>







{% endblock %}