{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend" id="button-addon3">
                    <a href="{% url 'add_colaborador' %}" class="btn btn-outline-secondary" type="button">Novo
                        Colaborador</a>
                    <a href="{% url 'list_setor_colaborador' %}" class="btn btn-outline-secondary" type="button">Localizar
                        por
                        Setor</a>
                    <button type="submit" class="btn btn-outline-secondary">Pesquisar</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons"
                       aria-describedby="button-addon3" id="pesquisa" name="pesquisa">
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Setor</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Tags</th>
                <th scope="col">Comandos</th>
            </tr>
            </thead>
            <tbody>
            {% for colaborador in colaborador %}
            <tr>
                <td>{{ colaborador.Nome }}</td>
                <td>{{ colaborador.Cpf }}</td>
                <td>{{ colaborador.Telefone }}</td>
                <td>{{ colaborador.SetorColaborador }}</td>
                <td>
                    {% for tag in colaborador.tags.all %}
                    <span class="badge badge-light">{{ tag }}</span>
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{% url 'update_colaborador' colaborador.id %}"
                           class="btn btn-success">Atualizar</a>
                        <a href="{% url 'update_colaborador_remanejamento' colaborador.id %}"
                           class="btn btn-danger">Remanejar</a>
                        <a href="{% url 'list_historico_remanejamento' colaborador.id %}"
                           class="btn btn-info">Histórico</a>
                        <a href="{% url 'carta_encaminhamento_colaborador' colaborador.id %}"
                           class="btn btn-primary">Carta de Encaminhamento</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <div class="alert alert-warning" role="alert">
                Digite o nome do colaborador para efetuar a pesquisa
            </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}