{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}

{% for colaborador in colaborador %}
{% endfor %}
<div class="card">
    <div class="card-header">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend" id="button-addon3">
                    <a href="{% url 'add_colaborador' %}" class="btn btn-outline-secondary" type="button">Novo
                        Colaborador</a>
                    <a href="{% url 'list_setor_colaborador' %}" class="btn btn-outline-secondary" type="button">Localizar
                        por
                        Setor</a>
                    <a href="{% url 'list_tags' %}" class="btn btn-outline-secondary" type="button">Tags</a>
                    <a href="{% url 'painel_colaborador' %}" class="btn btn-outline-secondary" type="button">DashBoard</a>
                    <button type="submit" class="btn btn-outline-secondary">Pesquisar</button>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons"
                       aria-describedby="button-addon3" id="pesquisa" name="pesquisa">
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Check</th>
                <th scope="col">Setor</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Tags</th>
                <th scope="col">Comandos</th>
            </tr>
            </thead>
            <tbody>
            {% for colaborador in colaborador %}
            <tr>
                <td><input type="checkbox" value="" id="defaultCheck1"></td>
                <td>{{ colaborador.SetorColaborador }}</td>
                <td>{{ colaborador.Nome }}</td>
                <td>{{ colaborador.Cpf }}</td>
                <td>{{ colaborador.Telefone }}</td>
                <td>
                    {% for tag in colaborador.tags.all %}
                    <span class="badge badge-dark">{{ tag }}</span>
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group-sm" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa fa-ellipsis-v"> </i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                <a class="dropdown-item" href="{% url 'update_colaborador' colaborador.id %}"><i
                                        class="fas fa fa-edit">
                                    Editar</i></a>
                                <a class="dropdown-item"
                                   href="{% url 'update_colaborador_remanejamento' colaborador.id %}"><i
                                        class="fas fa-angle-right">
                                    Remanejar</i></a>
                                <a class="dropdown-item" href="{% url 'list_historico_remanejamento' colaborador.id %}"><i
                                        class="fas fa-history">
                                    Hitórico</i></a>
                                <a class="dropdown-item"
                                   href="{% url 'carta_encaminhamento_colaborador' colaborador.id %}"><i
                                        class="fas fa-sticky-note">
                                    Ofício</i></a>
                                 <a class="dropdown-item"
                                   href="{% url 'carta_encaminhamento_colaborador' colaborador.id %}"><i
                                        class="fas fa-trash-alt">
                                    Excluir</i></a>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            {% empty %}
            <div class="alert alert-warning" role="alert">
                Digite o nome do colaborador para efetuar a pesquisa
            </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}