{% extends 'base.html' %}
{% load static %}
{% block title %} Tags {% endblock %}

{% block container %}
{% for tags in tags %}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{ tags.Nome }}</h4>
        <p class="card-text">{{ tags.Observacao }}</p>
        <a href="{% url 'update_tags' tags.id %}" class="btn btn-success btn-sm">Atualizar</a>
        <a href="{% url 'info_tags' tags.id %}" class="btn btn-primary btn-sm">Informações Relacionadas</a>
    </div>
</div>
{% endfor %}

{% endblock %}