{% extends 'base.html' %}

{% block title %}
Painel Colaborador
{% endblock %}

{% block container %}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-users"></i> Colaborador</h5>
                <p class="card-text"><i class="fa fa-lock-open"></i><small class="text-danger"> Acesso liberado
                    parcialmente para usuários</small></p>
                <a href="{% url 'colaborador_list_cbv' %}" class="btn btn-secondary btn-sm">Colaborador</a>
                <a href="{% url 'tag_list_cbv' %}" class="btn btn-warning btn-sm">Tags</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}