{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">Telefone</th>
                <th scope="col">Setor</th>
                <th scope="col">Comandos</th>
            </tr>
            </thead>
            <tbody>
            {% for colaborador in colaborador %}
            <tr>
                <td>{{ colaborador.Nome }}</td>
                <td>{{ colaborador.Cpf }}</td>
                <td>{{ colaborador.Telefone }}</td>
                <td>{{ colaborador.SetorColaborador }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="{% url 'update_colaborador_remanejamento' colaborador.id %}"
                           class="btn btn-warning">Confirmar Remanejamento</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
            </tr>
            </thead>
            <tbody>
            {% for setor in setor %}
            <tr>
                <td>{{ setor.Nome }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                        <a href="#"
                           class="btn btn-warning">Confirmar Remanejamento</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}