{% extends 'base.html' %}
{% load static %}
{% block title %} Administracao {% endblock %}

{% block container %}

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table class="table table-hover table-sm table-bordered">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Setor</th>
            </tr>
            </thead>
            <tbody>
            {% for colaborador in colaborador %}
            <tr>
                <td>{{ colaborador.Nome }}</td>
                <td>{{ colaborador.SetorColaborador }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<hr>
{% for setor in setores %}
<p>{{ setores.Nome }}</p>
{% endfor %}
{% for colaborador in colaborador %}
{% endfor %}
{% endblock %}