 <div class="nav-scroller bg-white shadow-sm">
          <nav class="nav nav-underline">
            <a class="nav-link active" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
            <a class="nav-link active" href="{% url 'perfil' %}"><i class="fa fa-id-card"></i></a>
            <a class="nav-link active" href="{% url 'painel_configuracao' %}"><i class="fa fa-user-cog"></i></a>
            <a class="nav-link active" href="javascript:history.back()"><i class="fa fa-undo-alt"></i></a>

          </nav>
    </div>