<!--
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #3262a8;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'feed' %}"><i class="fa fa-rss"></i> Feed<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'perfil' %}"><i class="fa fa-id-card"></i> Perfil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-plus"></i> Colaborador
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'list_colaborador' %}">Operações</a>
                    <a class="dropdown-item" href="{% url 'list_tags' %}">Tags</a>
                    <!--<a class="dropdown-item" href="{% url 'list_historico' %}">Listagem de Histórico</a>-->
 <!--               </div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-tools"></i> Demandas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'list_item' %}">Item</a>
                    <a class="dropdown-item" href="{% url 'list_tag' %}">Tags</a>
                    <a class="dropdown-item" href="{% url 'list_status' %}">Status</a>
                    <a class="dropdown-item" href="{% url 'add_demanda' %}">Gerar Demandas</a>
                    <a class="dropdown-item" href="{% url 'list_demandas' %}">Relação de Demandas</a>
                    <!--<a class="dropdown-item" href="{% url 'list_grupo_setor' %}">Gerar Demandas de Grupo</a>-->
<!--                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-plus"></i> Atividades
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="{% url 'list_nota' %}">Notas</a>
                    <a class="dropdown-item" href="#">Tarefas</a>
                    <a class="dropdown-item" href="#">Mensagens</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Configuração
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                    <a class="dropdown-item" href="{% url 'list_usuario' %}">Usuários</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'list_setor' %}">Add Setor</a>
                     <a class="dropdown-item" href="{% url 'list_grupo' %}">Grupo Setor</a>

                </div>
            </li>
        </ul>
    </div>  
</nav>
-->
<br>
<div class="container">
  {% if messages %}
  <div class="alert alert-warning" role="alert">
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </div>
{% endif %}
</div>
 