{% extends 'base.html' %}

{% block title %} Setor {% endblock %}

{% block container %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fa fa-bezier-curve"></i> Setor</h5>
                <p class="card-text"><i class="fa fa-lock"></i><small class="text-danger"> Acesso restrito para
                    Administradores do Sistema</small></p>
                <a href="{% url 'list_setor' %}" class="btn btn-secondary btn-sm">Setores</a> |
                <a href="{% url 'list_grupo' %}" class="btn btn-secondary btn-sm">Grupos</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}